@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

header {
    background: #525c65;
    font-family: 'Cutive Mono', monospace;
}

.logo-cadastro a{
    color: #fff !important;
}

.cadastro {
    font-size: 110%;
    font-family: 'Cutive Mono', monospace;
    padding: 5em;
}

.form-group input {
    border-radius: 0.2em;
}

label,
.text-center small,
.form-group small {
    font-size: 1.3ch;
    font-weight: bold;
}

form button {
    background: #fff;
    border-radius: 2ch !important;
}

.col-md-3 label {
    text-transform: uppercase;
}

.logo-cadastro a:hover {
    font-weight: bold;
    
    animation-name: arco-iris;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.text-justify {
    font-size: 150%;
    font-family: 'Alfa Slab One', cursive;

    animation-name: arco-iris;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes arco-iris {
    0% {
        color: #d65c97;
    }

    5% {
        color: #5cd666;
    }

    10% {
        color: #a55cd6;
    }

    15.0% {
        color: #5c7cd6;
    }

    20% {
        color: #d65c7a;
    }

    25% {
        color: #81d65c;
    }

    30.0% {
        color: #835cd6;
    }

    35% {
        color: #685cd6;
    }

    40% {
        color: #5c9dd6;
    }

    45% {
        color: #5cd670;
    }

    50% {
        color: #d6625c;
    }

    55.0% {
        color: #d6835c;
    }

    60.0% {
        color: #d6605c;
    }

    65% {
        color: #be5cd6;
    }

    70% {
        color: #5c8dd6;
    }

    75% {
        color: #95d65c;
    }

    80% {
        color: #d69d5c;
    }

    85.0% {
        color: #d65c81;
    }

    90% {
        color: #5cd666;
    }

    95% {
        color: #d67e5c;
    }

    100% {
        color: #64d65c;
    }
}