.jumbotron {
    background-color: #225350 !important;
    border-radius: 0.5ch !important;
}

.titulo-secao .display-4 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    color: #FFF;
    text-shadow: 0 0.15ch 0.01ch rgba(34, 34, 34, 0.7);
}

.sec-main {
    width: 70%;
    margin: 5ch;
}

.card-columns {
    @include media-breakpoint-only(lg) {
        -webkit-column-count: 4;
        column-count: 4;
    }
}

.conteudo{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
}

.info-conteudo {
    position: absolute;
    bottom: -45%;
    width: 100%;
    opacity: 0;
    color: #f9f9f9;
    font-family: sans-serif;
    background: rgba(34, 83, 80, 0.9);
    
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.conteudo:hover .info-conteudo {
    opacity: 1;
    bottom: 0;
}
.info {
    border-bottom: 0.5ch solid #f9f9f9;
}
.titulo, .data{
    text-transform: uppercase;
    font-size: 75%;
}
.data {
    float: right;
}