@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background: #000 !important;
}

section{
    font-family: 'Roboto', sans-serif;
}

header , .jumbotron{
    padding: 2ch;
    text-transform: uppercase;
    background: #000 !important;
}

.sec-lista-index{
    margin: 7ch;
    padding: 1ch;
}

.sec-lista-index ul li{
    background: #000000 !important;
    color: #fff;
    font-size: 120%;
}

.sec-lista-index ul li p{
    color: #888888 !important;
}


.jumbotron{
    background: #609 !important;
    color: #fff;
}