body{
    background: #f9f9f9; !important;
}

section{
    margin-top: 5ch;
}

.sec-main .display-5{
    font-size: 300%;
    color: #32323d !important;
}

.texto-index{
    color: #2692b7;
    font-size: 250%;
}

.sec-main .btn{
    border-radius: 5ch;
    border: 0.2ch solid #2692b7;
    background: #2692b7;
    margin-left: 1ch;
    transition: 0.5s;
    font-weight: bold;
    padding: 1ch;
}

.sec-main .inscrever:hover{
    background: #FFF;
    color: #2692b7;
    transform: scale(1.1);
    transition: 0.5s;
}

.sec-lista-index ul{
    list-style-type: none !important;
}

.sec-lista-index{
    background: #f9f9f9;
    padding: 5ch !important;
}

.sec-lista-index .display-5{
    text-transform: capitalize;
    color: #2692b7;
    margin-bottom: 3ch;
}

.sec-lista-index ul li h3{
    font-size: 200%;
    color: #32323d;
    font-weight: bold;
}

.sec-lista-index ul li p{
    margin-top: 3ch;
    margin-bottom: 3ch;
    color: #32323d;
}

.sec-faixa .jumbotron{
    background: #2692b7;
    color: #f9f9f9;
}

.sec-faixa .jumbotron .display-4{
    font-weight: bold;
}

.carousel-inner{
    border: solid 0.5ch;
    border-color: #32323d;
    border-radius: 0.5ch;
    box-shadow: 0.1ch 2ch 5ch rgba(0,0,0,0.5);
    margin-bottom: 3ch;
}

.carousel-item{
    padding: 5ch;
    background: #f9f9f9;
}

.card{
    transition: 0.3s;
}

.card a:link{
    text-decoration:none; 
}

.card span{
    color: #32323d;
    font-weight: bold;
}

.card p{
    color: #32323d;
    text-transform: capitalize
}

.card:hover{
    transform: scale(1.1);
}

#controlador-slide{
    color: #2692b7;
    font-size: 300%;
}