@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background: #f9f9f9; !important;
    color: #32323d !important;
}

.sec-carrosel .display-5{
    font-size: 300%;
    color: #32323d !important;
}

.texto-index{
    color: #2692b7;
    font-size: 250%;
}

.sec-carrosel .btn{
    border-radius: 5ch;
    border: 0.2ch solid #2692b7;
    background: #2692b7;
    margin-left: 1ch;
}

.sec-carrosel .entrar{
    background: #fff;
    color: #2692b7;
}

.sec-carrosel .inscrever:hover{
    background: #FFF;
    color: #2692b7;
}

.sec-carrosel .entrar:hover{
    background: #2692b7;
    color: #fff;
}

.sec-lista-index{
    background: #f9f9f9;
    padding: 5ch !important;
}

.sec-lista-index .display-5{
    text-transform: capitalize;
    color: #2692b7;
    margin-bottom: 3ch;
}

.sec-lista-index ul li h3{
    font-size: 200%;
    color: #32323d;
    font-weight: bold;
}

.sec-lista-index ul li p{
    margin-top: 3ch;
    margin-bottom: 3ch;
    color: #32323d;
}

.sec-faixa .jumbotron{
    background: #2692b7;
    color: #f9f9f9;
}

.sec-faixa .jumbotron .display-4{
    font-weight: bold;
}

.sec-carrosel{
    margin: 5ch;
}

.carousel-control-prev span{
    background-image: url(../svg/anterior.svg);
    background-size: 10ch;
}

.carousel-control-next span{
    background-image: url(../svg/proximo.svg);
    background-size: 10ch;
}

.sec-rodape .nav-rodape .rodape-titulo{
    color: #2692b7;
    font-weight: bold;
    font-size: 110%;
    text-transform: capitalize;
}

.sec-rodape .nav-rodape .rodape-item{
    margin-top: 1ch;
}

.sec-rodape .nav-rodape .rodape-item a{
    text-decoration: none;
    color: #cccccc;
    font-weight: bold;
}

footer{
    background: #32323d;
    padding: 5ch !important;
}
