
#tabela {
    background-color: #d8d8d8;
    padding: 20px;
    margin-bottom: 50px;
    border: 2px solid #006266;
    border-radius: 5px;
}

#tabela h3 {
    padding-bottom: 1em;
}

.coluna-btn {
    width: .5em;
    text-align: center;
}

#btn-tabela {
    padding: 2px 6px!important;
    color: #004547;
    background-color: #fff!important;
    border-color: #fff!important;
}

#main h5 {
    margin-bottom: 50px;
}

#add {
    background-color: #cefac8;
    padding: 30px;
    border-radius: 10px;
}

.fas.fa-check {
    color: #00a500;
}

.fas.fa-times {
    color: #c80000;
}

.card {
    float: left;
    margin: 40px!important;
    border: 2px solid #006266!important;
    border-radius: 5px!important;
    width: 12em;
    text-align: center;
}
.table h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 4em;
    font-weight: bolder;
}

.table h3{
    font-weight: 800;
    color: #006266;
}

@media (min-width: 1200px){
    #tabela{
        max-width: 600px;
    }

}
@media (min-width: 1079px){
    #tabela{
        max-width: 600px;
    }
}
@media (min-width: 971px){
    #tabela{
        max-width: 600px;
    }
}

@media (max-width: 575px){

#tabela{
    max-width: 600px;
}

.col-sm-auto {
    margin-top: 20px;
}

}